* {
  box-sizing: border-box;
}

.sidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sidebarButton {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  padding: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: inherit;
  font-size: large;
  color: inherit;
  font-weight: 600;
}

.sidebarButton::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.2rem;
  background-color: #cf241cff;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebarButton:hover::before {
  opacity: 1;
}

.sidebarButton.active::before {
  opacity: 1;
}

.overlayList {
  font-size: medium;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.textAlign {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
