:root {
  --opacity: 0.8;

  --night: #0a090cff;
  --antiflash-white: #f0edeeff;
  --oxford-blue: #001738;
  --fire-engine-red: #cf241cff;
  --glaucous: #477bc6ff;
}

#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  background: transparent;
  color: white;
  user-select: none;
}

html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlayWindow {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.overlayDefaultBackgroundColor {
  background: rgba(0, 0, 0, var(--opacity));
}

.roundedOverlayWindow {
  border-radius: 4rem;
}

#draggableWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: grey;
  opacity: .8;
  z-index: 999999;
  -webkit-app-region: drag;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
}

::-webkit-scrollbar {
    display: none;
}

.mainBackground {
  height: 100%;
  display: flex;
  overflow: hidden;
}

.mainSidebar {
  max-width: 12rem;
  min-width: 12rem;
  flex-shrink: 0;
  height: 100%;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

@media (prefers-color-scheme: dark)  {
  .mainBackground { background: #333; color: var(--antiflash-white); }
  .primaryButton { background-color: white; color: rgb(0, 0, 0)}
  .primaryButton:hover { background-color: #aaa; }
  .secondaryButton { color: white; border-color: white; }
  .secondaryButton:hover { border-color: #aaa; }
}

@media (prefers-color-scheme: light) {
  .mainBackground { background: #ddd; color: var(--night); }
  .primaryButton { background-color: black; color: white}
  .primaryButton:hover { background-color: #333; }
  .secondaryButton { color: black }
  .secondaryButton:hover { background-color: #ccc; }
}

/* CSS */
.primaryButton {
  appearance: none;
  border-radius: 0.5rem;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
}

.primaryButton:disabled {
  pointer-events: none;
}

.secondaryButton {
  appearance: none;
  background-color: transparent;
  border-radius: 0.5rem;
  border-style: solid;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 0.7rem 1rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform;
}

.secondaryButton:disabled {
  pointer-events: none;
}
