.basicInputsWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
}

.carSpeed {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carGear {
  font-weight: bolder;
  font-size: xxx-large;
}

.carAbs {
  padding-right: 2rem;
}

.carSpeedAndRpm {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.carInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
